In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100) #

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)#

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))#

In [5]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [ ]:
df_iter

In [6]:
df = next(df_iter)

In [ ]:
len(df)#

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [9]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 9.57 s

In [10]:
from time import time

In [11]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    print('inserted another chunck..., took %.3f seconds' % (t_end-t_start))

inserted another chunck..., took 10.127 seconds
inserted another chunck..., took 10.101 seconds
inserted another chunck..., took 10.362 seconds
inserted another chunck..., took 10.112 seconds
inserted another chunck..., took 9.928 seconds
inserted another chunck..., took 9.974 seconds
inserted another chunck..., took 10.141 seconds
inserted another chunck..., took 10.997 seconds
inserted another chunck..., took 10.363 seconds
inserted another chunck..., took 10.311 seconds
inserted another chunck..., took 15.096 seconds

C:\Users\Nadine\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunck..., took 12.033 seconds
inserted another chunck..., took 8.943 seconds

StopIteration:

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-02-16 15:15:19--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.74.78
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.74.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 62.5K=0.2s

2022-02-16 15:15:21 (62.5 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [4]:
df_zones = pd.read_csv("taxi+_zone_lookup.csv")

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')